/* Lesson 1 starter CSS file.
   Add styles here in later lessons. */

body {
   margin: 0;
   background-color: #dbe4f4;
}

header {
   background-color: #0e7ce2;
   border-bottom: 10px solid rgb(255, 255, 255);
   text-align: center;
   padding: 10px 0;
   color: white;
}

header p {
   margin: 0;
}

nav {
   border-bottom: 2px solid #ffffff;
   padding: 10px 0;
   background-color: white;
}

a {
   text-decoration: none;
   background-color: white;
}

#about {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: white;
}

.card {
   color: #0e7ce2;
   ;
   border: 1px solid black;
   margin: 10px 25px;
   border-radius: 5%;
   max-width: 50%;
   margin: 30px auto;
   padding: 35px 25px;
   background-color: white;
}

.card h2 {
   color: #0e7ce2;

}

.card h3 {

   color: black;
}
.card p{

      color: black;

}
main {
   align-content: center;
   color: black;
}